<a href="https://colab.research.google.com/github/saanvi1504/DV_at_IU_Fall_2025/blob/main/PythonFundamentals_CO2_Emissions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals

In [2]:
# --- Variables ---
my_name = "Saanvi"      # A string (text)
my_age = 19             # An integer (whole number)

print(my_name)
print(my_age)

# ðŸ‘‰ Your Turn:
# Make a variable called city and store the name of the city you are from.
# Then print it.

city = "Aurora"
print(city)

Saanvi
19
Aurora

In [4]:
# --- Data Types ---
height = 5.5            # A float (decimal number)
is_student = True       # A boolean (True/False)

print(height)
print(is_student)

# ðŸ‘‰ Your Turn:
# Make an integer variable for your birth year and print it.

birth_year = 2006
print(birth_year)

5.5
True
2006

In [5]:
# --- Lists ---
colors = ["red", "green", "blue"]
print(colors)
print(colors[0])

# ðŸ‘‰ Your Turn:
# Make a list of 3 colors and print the third color.
list_colors = ["blue","yellow","orange"]
print(list_colors[2])

# my favorite color is actually blue

['red', 'green', 'blue']
red
orange

In [10]:
# --- Dictionaries ---
capitals = {
    "France": "Paris",
    "India": "New Delhi",
    "Japan": "Tokyo"
}
print(capitals)
print(capitals["France"])

# ðŸ‘‰ Your Turn:
# Make a dictionary with keys "name", "age", and "major".
# Fill in your own information and print your major.

dictionary = {
    "name": "Saanvi",
    "age": 19,
    "major": "Finance"
}

print(dictionary)
print(dictionary["major"])

{'France': 'Paris', 'India': 'New Delhi', 'Japan': 'Tokyo'}
Paris
{'name': 'Saanvi', 'age': 19, 'major': 'Finance'}
Finance

In [ ]:
# --- Comments ---
# This is a comment, Python ignores it

# ðŸ‘‰ Your Turn:
# Write a comment below that says what your favorite food is

In [ ]:
# --- Functions ---
def greet(person):
    print("Hello", person)

greet("World")

# ðŸ‘‰ Your Turn:
# Write a function called say_hi(y) that prints "Hi" and y.
# Test it by calling say_hi("Your Name").

In [ ]:
# --- If Statements ---
x = 10
if x > 5:
    print("x is greater than 5")

# ðŸ‘‰ Your Turn:
# Write an if statement that prints "x is 9" if x is 9.

In [ ]:
# --- Conditions + Connectives ---
day = "Saturday"
day_2 = "Sunday"
if day == "Saturday" and day_2 == "Sunday":
    print("It is the weekend!")

# ðŸ‘‰ Your Turn:
# Write an if statement that prints "Weekday"
# if practice_date is not Saturday or Sunday.
practice_date = ""

In [ ]:
# --- For Loop ---
for num in [1, 2, 3]:
    print("Number:", num)

# ðŸ‘‰ Your Turn:
# Write a for loop that prints each letter in the word "Python"

# Global COâ‚‚ Emissions Animation (Python + Plotly)

In [ ]:
import pandas as pd
import plotly.express as px

years = [1960, 1970, 1980, 1990, 2000, 2010, 2020, 2023]

countries = [
    "United States", "China", "India", "Russia", "Japan",
    "Germany", "Brazil", "Canada", "Australia", "South Africa", "United Kingdom", "France"
]

base_trends = {
    "United States": [2950, 4300, 4900, 5100, 5900, 5600, 4800, 4900],
    "China":         [ 550,  900, 1800, 2400, 3300, 7800,10100,10700],
    "India":         [ 130,  180,  320,  580,  970, 1900, 2600, 2700],
    "Russia":        [ 900, 1300, 2100, 2400, 1600, 1700, 1600, 1700],
    "Japan":         [ 270,  540, 1100, 1150, 1250, 1200, 1100, 1100],
    "Germany":       [ 250,  350,  470,  980,  830,  820,  650,  630],
    "Brazil":        [ 100,  140,  230,  300,  380,  460,  500,  520],
    "Canada":        [ 200,  310,  420,  460,  590,  560,  540,  550],
    "Australia":     [  90,  150,  240,  270,  360,  410,  390,  400],
    "South Africa":  [  80,  140,  180,  300,  340,  390,  440,  430],
    "United Kingdom":[ 600,  650,  710,  600,  550,  500,  390,  380],
    "France":        [ 400,  450,  480,  410,  390,  380,  320,  310],
}

rows = []
for country, values in base_trends.items():
    for y, v in zip(years, values):
        rows.append({"Country": country, "Year": y, "CO2_Mt": v})

df = pd.DataFrame(rows)

In [12]:
fig_map = px.choropleth(
    df,
    locations="Country",
    locationmode="country names",
    color="CO2_Mt",
    hover_name="Country",
    animation_frame="Year",
    color_continuous_scale="Reds",
    range_color=(0, df["CO2_Mt"].max() * 1.05),
    labels={"CO2_Mt": "COâ‚‚ (Mt)"},
    title="Global COâ‚‚ Emissions (Illustrative) â€” Animated 1960â€“2023"
)
fig_map.show()

NameError: name 'px' is not defined

In [13]:
def top_emitters_per_year(dataframe, top_n=8):
    out = []
    for y in sorted(dataframe["Year"].unique()):
        chunk = dataframe[dataframe["Year"] == y].nlargest(top_n, "CO2_Mt").copy()
        out.append(chunk)
    return pd.concat(out, ignore_index=True)

top_df = top_emitters_per_year(df, top_n=8)

NameError: name 'df' is not defined

In [14]:
fig_bars = px.bar(
    top_df,
    x="CO2_Mt",
    y="Country",
    color="Country",
    orientation="h",
    animation_frame="Year",
    range_x=(0, df["CO2_Mt"].max() * 1.1),
    labels={"CO2_Mt": "COâ‚‚ (Mt)"},
    title="Top COâ‚‚ Emitters by Year (Illustrative) â€” Animated"
)
fig_bars.show()

NameError: name 'px' is not defined